<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "timoshik.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Serg Timoshik</h1>
    <p>Welcome to day 2 of my 12 web apps in 12 days challenge.</p>
    <p>Today I created a blog in rails 4. You're actually on the demo application right now. Cool stuff, right!</p>
  </div>
</div>
